.site-content{
  min-height: 100dvh;
}
*{
  padding: 0;
  margin: 0;
}

/*CV*/
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
li {
  margin-bottom: 20px;
}
h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #2179d8;
}
.utbildningsName {
  font-size: 20px;
  color: #2179d8; 
}


/*Min påskägg för 1337*/
.påskägg-container {
  text-align: center;
  margin-top: 50px;
}

.påskägg {
  font-size: 24px;
  color: #ff69b4; /* Ljusrosa färg */
}

.beskrivning {
  font-size: 18px;
  color: #696969; /* Mörkgrå färg */
}

/*Min välkommen sida*/
.välkommen {
  text-align: center; 
  font-size: 36px; 
  padding: 30px; 
  background-color: #292929; 
  color: #fff; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 70%; 
  margin: auto; 
  margin-top: 20vh; 
  font-family: 'Roboto', sans-serif; 
}
.nourozi{
  text-align: center;
  margin-top: 20px;
}

 /* kontakt */
.contact {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.contact h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group textarea {
  height: 100px;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}



/* Om mig */
.rubrik {
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.rubrik1 {
  font-size: 18px;
  margin-bottom: 20px;
  list-style-type: none;
  text-align: center;
  padding: 50px;
}
.rubrik2 {
  font-size: 16px;
  margin-left: 20px; 

}

.rubrik3 {
  font-size: 16px;
  margin-left: 40px; 
}
.halsa {
  font-weight: bold;
  margin-top: 20px; 
}
.zia {
  font-style: italic;
}


/* Min GITHUB projekt */
.projket-rubrik{
  font-size: 24px;
  margin-bottom: 20px;
  color: #0056b3;
}

.repoName {
  font-size: 20px;
  color: #333;
  margin-bottom: 5px;
}
